SenselySDKSample/Pods
SenselySDKSample/Build
SenselySDKSample/SenselySDKSample.xcworkspace

SenselySDKSample-ObjC
SenselySDKSample-ObjC/Pods
SenselySDKSample-ObjC/Build
Podfile.lock
SenselySamples.xcworkspace/xcuserdata/zestu.xcuserdatad
Pods
